<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles/styles.css" type="text/css">
    <title>Todoroki</title>
</head>
<body>
    <header>
        <div class="container">
            <a href="/"><img src="static/img/logo.png" alt="logo" class="logo"></a>
            <nav>
                <ul>
                    <li><a href="/market">Маркет</a></li>
                    <li><a href="#"><i class="fa fa-vk" aria-hidden="true" style="font-size: 40px;"></i></a></li>
                    <li><a href="#"><i class="fa fa-telegram" aria-hidden="true" style="font-size: 40px;"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>

