<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles/styles.css" type="text/css">
    <title>Todoroki</title>
</head>
<body>
    <header>
        <div class="container">
            <img src="static/img/logo.png" alt="logo" class="logo">
            <nav>
                <ul>
                    <li><a href="/forum">Главная</a></li>
                    <li><a href="/market">Маркет</a></li>
                    <li><a href="#">ВК</a></li>
                    <li><a href="#">Telegram</a></li>
                    {% if 1 == 1 %}
                       <li><a href="/logout" class="navbar-brand"></a></li>
                    {% else %}
                        <li><a class="btn btn-success" href="/register">Зарегистрироваться</a></li>
                        <li><a class="btn btn-primary" href="/login">Войти</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        {% block content %}
        {% endblock %}
    </header>
</body>
</html>