{% extends "base.html" %}

{% block content %}
    <div class="themes">
        <ul>
            {% if current_user.is_authenticated %}
                <a href="/news"><button type="button" class="btn btn-outline-success" style="margin-bottom: 30px;">Создать тему</button></a>
            {% endif %}
            <li><a href="/">Все новости</a></li>
            <li><a href="/only_news">Новости</a></li>
            <li><a href="/only_soft">Софт</a></li>
            <li><a href="/only_halyava">Халява</a></li>
            <li><a href="/only_games">Обсуждение игр</a></li>
        </ul>
    </div>

    <div class="contentss">
        <h1 style="text-align:center;" class="login-text rainbow-animated">Интересное</h1>
    {% for item in news %}
        {% set idd = item.id %}
        {% set stylee = "text-align:center;" + "color:#" ~ item.color + ";" %}
        {% set hr = '/discussion/' ~ idd %}
        {% set hr_edit = '/change_news/' ~ idd %}
        {% set hr_delete = '/news_delete/' ~ idd %}
        <div class="rainbowborder">
            {% if current_user.is_authenticated and (current_user.root == 1 or current_user == item.user) %}
                <div style="display: flex; justify-content: space-between;">
                    {% else %}
              <div>
                  {% endif %}
             {% if current_user.is_authenticated and (current_user.root == 1 or current_user == item.user) %}
            <a href={{hr_delete}}><i class="fa fa-trash-o" aria-hidden="true" style="color: red; font-size: 30px; padding-left: 10px; padding-top: 5px;"></i></a>
               {% endif %}
                  {% if item.title|length > 30 %}
                    <a style="text-decoration: none;" href={{hr}}><h2 style={{stylee}}>{{item.title[0:30]}}...</h2></a>
                  {% else %}
                    <a style="text-decoration: none;" href={{hr}}><h2 style={{stylee}}>{{item.title}}</h2></a>
                  {% endif %}
                {% if current_user.is_authenticated and (current_user.root == 1 or current_user == item.user) %}
                        <a href={{hr_edit}}><i class="fa fa-pencil" aria-hidden="true" style="font-size: 30px;padding-right: 10px;"></i></a>
                {% endif %}
                </div>
            <div style="margin-left: 30px; color: white;">

                Автор - {{item.user.nickname}}, <br>
                Дата написания - {{item.date_of_create}}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}