{% extends "base.html" %}
{% block content %}
<table border="1" style="color: white; border-color: white; align: left; margin-top: 2%; margin-bottom: 2%; font-size: 25px;width: 100%" cellpadding="2">
   <tr style="background-color: #6043e8; text-align: center;">
    <th>id</th>
    <th>тип</th>
    <th>vk id</th>
    <th>сообщение</th>
   </tr>
   {% for item in reviews %}
    {% if item.type_of_message == 'review' %}
        <tr style="background-color: #6043e8;;"><td style="text-align: center;">{{ item.id }}</td><td>Отзыв</td><td>https://vk.com/id{{ item.vk_id }}</td><td style="word-break: break-all;">{{ item.comment_text }}</td></tr>
    {% else %}
        <tr style="background-color: #6043e8;;"><td style="text-align: center;">{{ item.id }}</td><td>Жалоба</td><td>https://vk.com/id{{ item.vk_id }}</td><td style="word-break: break-all;">{{ item.comment_text }}</td></tr>
    {% endif %}
{% endfor %}
  </table>
{% endblock %}