{% extends "base.html" %}

{% block content %}
<div style="margin-left: 40%">
        <h1 class="login-text rainbow-animated">Настройки</h1>
        <form action="" method="post" style="padding-top: 20px;">
            {{ form.hidden_tag() }}
            <p style="color: white">
                {{ form.email.label }}<br>
                {{ form.email(class="form-control", type="email", style="width: 300px;") }}<br>
                {% for error in form.email.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p style="color: white">
                {{ form.old_pass.label }}<br>
                {{ form.old_pass(class="form-control", type="password", style="width: 300px;") }}<br>
                {% for error in form.old_pass.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p style="color: white">
                {{ form.new_pass.label }}<br>
                {{ form.new_pass(class="form-control", type="password", style="width: 300px;") }}<br>
                {% for error in form.new_pass.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p style="color: white">
                {{ form.new_pass_again.label }}<br>
                {{ form.new_pass_again(class="form-control", type="password", style="width: 300px;") }}<br>
                {% for error in form.new_pass_again.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p style="color: white">{{ form.submit(type="submit", class="btn btn-outline-warning") }}</p>
             <div style="color: red">{{ message }}</div>
    </form>
    </div>
{% endblock %}