.ramka-2-wr {
    box-sizing: border-box;
    padding: 5px;
    position: relative;
    overflow: hidden;
    margin: 20px auto;

}
.ramka-2-wr .ramka-2 {
    font-family: 'Roboto Condensed', sans-serif;
}
.ramka-2-wr::before {
    content: '';
    position: absolute;

    width: 150%;
    height: 2000%;
    background: repeating-linear-gradient(
        #FF0000 0%,
        #FF0000 7.5px,
        #FFFFFF 7.5px,
        #FFFFFF 15px,
        #FF0000 15px,
        #FF0000 22.5px,
        #FFFFFF 22.5px,
        #FFFFFF 30px);
    transform: translateX(-20%) translateY(-20%) rotate(-45deg);
    animation: anim-ramka-2 20s linear infinite;
}
.ramka-2-wr .ramka-2 {
    position: relative;
    background-color: #FFF;
    flex-direction: column;
    box-sizing: border-box;
    font-family: sans-serif;
    z-index: 2;
    padding-left: 30px;
    color: white;
    background-color: #0b0810;
}
.ramka-2-wr,
.ramka-2-wr .ramka-2 {
    box-shadow: 0 0 2px #BFE2FF, 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
@keyframes anim-ramka-2 {
    from {
        background-position: 0;
    }

    to {
        background-position: 0 450px;
    }
}