body {
    margin: 0;
    background-color: #131d63;
    font-family: 'Open Sans', sans-serif;
    font-weight: 80px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.logo {
    float: left;
    height: 70px;
    padding-top: 30px;
    padding-left: 60px;
}

header {
    background-color: #000000;
    display: table;
    width: 100%;
    height: 90px
}

nav {
        float: right;
}

nav ul {
    margin: 0;
    padding: 10;
    list-style: none;
    padding-right: 140px;
}

nav li {
    display: inline-block;
    margin-left: 80px;
    padding-top: 28px;

}

nav a {
    color: #05f;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold
}

.market {
    color: #05f;
    text-decoration: none;
    line-height: 95px;
    font-size: 34px;
    font-weight: bold;
    padding-left: 100px;
}


.themes {
    background: #000000;
    float: left;
    font-size: 19px;
    width: 15%;
    height: 280px;
    margin-left: 190px;
    margin-top: 40px;
    border-radius: 14px;
    padding-left: 10px;
    padding-top: 60px;
}

.contentss {
    background: #000000;
    font-size: 19px;
    width: 68%;
    margin-left: 410px;
    margin-top: 40px;
    border-radius: 14px;
    padding-left: 100px;
    padding-right: 45px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.rainbowborder {
   background-color: #0b0810;
  border: 3px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  margin-bottom: 20px;
}