body {
    margin: 0;
    background-color: #1b2f42;
    font-family: 'Open Sans', sans-serif;
    font-weight: 80px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.logo {
    float: left;
    height: 40px;
    padding-top: 27px;
}

header {
    background-color: #0f3b65;
    display: table;
    width: 100%;
    height: 90px
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 10;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 100px;
    padding-top: 25px;

}

nav a {
    color: #05f;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold
}
