body {
    margin: 0;
    background-color: #131d63;
    font-family: 'Open Sans', sans-serif;
    font-weight: 80px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.logo {
    float: left;
    height: 70px;
    padding-top: 30px;
    padding-left: 60px;
}

header {
    background-color: #000000;
    display: table;
    width: 100%;
    height: 90px
}

nav {
        float: right;
}

nav ul {
    margin: 0;
    padding: 10;
    list-style: none;
    padding-right: 140px;
}

nav li {
    display: inline-block;
    margin-left: 80px;
    padding-top: 28px;

}

nav a {
    color: #05f;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold
}

.market {
    color: #05f;
    text-decoration: none;
    line-height: 95px;
    font-size: 34px;
    font-weight: bold;
    padding-left: 100px;
}
.login-text {
    font-family: 'Open Sans', sans-serif;
    color: white;
}